# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
sacred_runs_players_counters/

# Models
models/

# Notebooks
# notebook/

# Cache
.DS_Store
.DS_Store/
*/.DS_Store
*/.DS_Store/
*/__pycache__/*
__pycache__/

# Core Files
*.core
*/core.*
